<div>
    <div>
        <div>
            <main class="login">
                <div class="login__container">
                    <h1 class="login__title">Criar Usuário</h1>
                    <form class="login__form" action="/users/create" method="POST">
                        <input class="login__input" type="text" id="name" name="name" placeholder="nome completo">
                        <span class="login__input-border"></span>
                        <input class="login__input" type="email" id="email" name="email" placeholder="email">
                        <span class="login__input-border"></span>
                        <input class="login__input" type="password" id="password" name="password" placeholder="senha">
                        <span class="login__input-border"></span>
                        <button type="submit" class="login__submit">Salvar</button>                        
                    </form>
                </div>
            </main>
        </div>
    </div>
</div>