@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* logo-top */
.logo-top {
    margin: -7px 0px -10px -7px;
}
/* nav */
.navbar {
    padding: 1rem;
    border-bottom: 1px solid #CCC;
}

.navbar .nav-item a {
    color: #212529
}

.nav-item {
    margin: 0 10px; 
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 25px;
    font-weight: bold;
}

.navbar .nav-item .btn {
    color: #FFF;
    background-color: #c53035;
    border: 1px solid transparent;
    border-radius: 0;
}

.nav-link.btn.btn-primary:hover, #search-form button:hover, .list-group-item a:hover, #form-box button:hover {
    background-color: #FFF;
    color: #c53035;
    border-color: #c53035;
}

/* banner */
#top-container {
    padding: 120px;
    border-bottom: 4px solid #c53035;
    margin-bottom: 0px;
    background: linear-gradient(
        rgba(0,0,0,.5),rgba(0,0,0,.5)
      ), url("https://castronaves.vteximg.com.br/arquivos/testehbjabsj.png") no-repeat;
    background-position: 0 77px; 
    background-size: cover;
    color: #FFF;
}

#main-title {
    padding: 30px 0;
    font-size: 3rem;
    font-weight: bold;
}

#main-subtitle {
    font-size: 20px;
    padding-bottom: 50px;
}

/* form */

#search-form {
    padding: 30px 200px;
}

#search-form .col-md-10, #search-form .col-md-2 {
    padding: 0;
}

#search-form input, #search-form button {
    width: 100%;
    border-radius: 0; 
    height: 50px; 
    font-size: 18px;
}

#search-form button {
    color: #FFF;
    background-color: #c53035;
    border: 1px solid transparent;
}

/* lista */

#jobs-container {
    padding: 0 100px; 
    padding-bottom: 50px;
}

#job-list .list-group-item {
    margin-bottom: 8px;
    border: 1px solid #CCC;
    padding: 15px 80px;
    color: #212529;
    height: 120px;
}

#job-list .list-group-item p {
    font-size: 14px;
    margin-bottom: 5px; 
}

#job-list .list-group-item .new-job {
    border: none;
    background-color: #FFF7CC;
}

#job-list-title {
    margin-bottom: 35px;
    margin-top: 35px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.list-group-item img {
    width: 80px;
    border: 2px solid #212529;
    border-radius: 100%;
    background-color: #FFF;
    position: absolute;
    left: -40px;
    top: calc(50% - 40%);
}

.list-group-item a {
    position: absolute;
    right: 20px;
    top: 35px;
    height: 50px;
    line-height: 35px;
    background-color: #c53035;
    border: 1px solid transparent;
    border-radius: 0;
    color: #FFF;
}

.new-job-label {
    background-color: #B1B1B0;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px;
    position: absolute;
    right: 250px;
    top: 40px;
    display: none;
}

.new-job .new-job-label {
    display: block;
}

/* add page */

#add-form-container {
    margin-top: 100px;
}

#form-box {
    padding: 50px;
    box-shadow: 0 1px 5px rgba(0,0,0,.15);
    border-radius: 4px;
    background-color: #FFF;
    margin-bottom: 50px;
}

#add-form-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

#add-form-container h2 {
    color: #c53035;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
}

#add-form-container form label {
    font-weight: bold;
}

#add-form-container form input, #add-form-container form textarea {
    border: 2px solid #CCC;
    background-color: #F8F9FA;
}

#form-box button {
    height: 50px;
    width: 200px;
    background-color: #c53035;
    border: 1px solid transparent;
    border-radius: 0;
    margin-top: 20px;
}

/* job-view */
#job-view-container {
    margin-top: 100px;  
}

#job-view-container h1 {
    margin-bottom: 30px;
}

#img-container {
    margin-top: 20px;
    margin-bottom: 30px;
}

#img-container img {
    width: 100px;
    border-radius: 50%;
    border: 2px solid #212529;
    border-radius: 100%;
    background-color: #FFF;
}

.job-desc {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.bold {
    font-weight: bold;
}

.main-color {
    color: #c53035;
}

.back-link {
    border: 1px solid #c53035;
    padding: 5px 10px;
    transition: .5s;
}

.back-link:hover {
    background-color: #c53035;
    color: #FFF;
    text-decoration: none;
}

/* form login */
  body {
    padding: 0 !important;
    margin: 0 !important;
    font-family: sans-serif !important;
  }
  
  .login {
    height: 100vh;
    background: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login__container {
    min-height: 400px;
    width: 300px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login__title {
    margin-bottom: 32px;
    color: #303030;
    font-family: Trattatello, fantasy;
  }
  
  .login__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login__input {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
    position: relative;
  }
  
  .login__input-border {
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background: #cfcfcf;
    transition: .3s ease-in-out;
  }
  
  .login__input-border::after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    margin-bottom: 16px;
    background: linear-gradient(120deg, #F75590, #00C2CB);
    transition: .3s ease-in-out;
  }
  
  .login__input:focus + .login__input-border::after {
    width: 100%;
  }
  
  .login__input-border.error {
    background: red;
  }
  
  .login__input-border.error::after {
    background: red;
  }
  
  .login__submit {
    height: 48px;
    width: 100%;
    padding-left: 8px;
    outline: none;
    position: relative;
    background: linear-gradient(50deg, darkblue, #4169e1, darkblue );
    background-size: 200%;
    margin-bottom: 32px;
    color: #fff;
    font-size: 16px;
    font-weight: bold !important;
    border: unset;
    border-radius: 30px;
    transition: 0.5s ease;
  }
  
  .login__submit:disabled {
    background: #acacac;
    cursor: not-allowed;
  }
  
  .login__submit:hover {
    background-position: right;
  }
  
  .login__submit.success {
    background: rgb(18, 151, 107);
  }
  
  .login__submit.error {
    background: red;
  }
  
  .login__reset {
    font-size: 12px;
    color: #929292;
    text-decoration: none;
  }

  .container#add-form-container{
      width: 800px;
  }

/* mobile */
@media (max-width: 481px) {

    /* navbar */
    #navbarNav {
        text-align: center;
    }

    /* home */
    #top-container {
        padding: 50px;
        padding-top: 100px;
    }

    #main-title {
        font-size: 2.2rem;
    }

    #main-subtitle {
        font-size: 1.5rem;
    }

    #search-form {
        padding: 0;
    }

    #jobs-container {
        padding: 20px;
    }

    .list-group-item {
        padding: 15px 85px;
    }

    .list-group-item h2 {
        font-size: 1.1rem;
        width: 80%;
    }

    .list-group-item img {
        width: 50px;
        left: 15px;
        top: calc(50% - 25px);
    }

    .new-job .new-job-label {
        display: none;

    }

    /* job-view */
    .back-link {
        margin-left: 30px;
    }

    #job-view-container p {
        font-size: 1.3rem;
    }

    .job-desc {
        width: 80%;
    }

    /* add-view */
    
    #form-box {
        padding: 25px;
    }

    #form-box h2 {
        font-size: 1rem; 
        text-align: center;
    }

    #form-box button {
        width: 100%;
    }
}

@keyframes hidemessage {
    to{
        top: 49px;
        opacity: 0;
    }
}

#error-login{
    position: absolute;
    top: 79px;
    width: 100%;
    height: 30px;
    background-color: #c53035;
    color: white;
    text-align: center;
    margin: 0 auto;
    opacity: 1;
    animation: hidemessage .8s 5s ease-out forwards;
}